.image-class {
    width: 640px;
    height: 360px;
  }
  /* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  /* Estilos para seções */
  section {
    margin: 20px;
  }
  section h2 {
    font-size: 24px;
    color: #333;
  }
  article {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  article img.image-class {
    max-width: 100%;
    height: auto;
  }
  article time {
    color: #666;
  }
  article h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  article p {
    line-height: 1.6;
  }
  article a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }
  article a:hover {
    text-decoration: underline;
  }
  /* Melhorias */
  /* Adicionando uma fonte mais elegante */
  body {
    font-family: "Times New Roman", serif;
  }
  /* Aumentando o tamanho da fonte */
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  /* Adicionando um pouco de espaçamento entre as linhas */
  p {
    line-height: 1.8;
  }
  /*